* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-image: linear-gradient(to right, #202020, gray);
    overflow: hidden;
}

.block {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.block__item:nth-child(1) {
    position: absolute;
    width: 60vw;
    height: 100vh;
    background-image: linear-gradient(to right, #202020, gray);
}

.block__item:nth-child(2) {
    position: absolute;
    right: 0;
    width: 45vw;
    height: 0vh;
    border-top: 55vw solid rgb(242, 53, 53);
    border-left: 20vw solid transparent;
    border-right: 0vw solid transparent;
}

.block__item:nth-child(3) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 39vw solid rgb(255, 72, 72);
    border-right: 15vw solid transparent;
    border-left: 10vw solid transparent;
    right: 25%;
}

.block__item:nth-child(4) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 22%;
    top: 37%;
}

.block__item:nth-child(5) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 22%;
    top: 22%;
}

.block__item:nth-child(6) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 22%;
    top: 52%;
}

.block__item:nth-child(7) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 24%;
    top: 45%;
    transform: rotate(180deg);
}

.block__item:nth-child(8) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 24%;
    top: 29%;
    transform: rotate(180deg);
}

.block__item:nth-child(9) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 41%;
    top: 37%;
}

.block__item:nth-child(10) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 32%;
    top: 45%;
}

.block__item:nth-child(11) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 34%;
    top: 37%;
    transform: rotate(180deg);
}

.block__item:nth-child(12) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3vw solid transparent;
    border-top: 3vw solid transparent;
    border-left: 6vw solid rgb(255, 79, 79);
    left: 32%;
    top: 30%;
}

.block__item:nth-child(13) {
    position: absolute;
    width: 60vw;
    padding: 10px;
    top: 17%;
    left: 14%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block__item-creation {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
}

.block__creation-label {
    font-size: 20px;
    color: #fff;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.block__creation-input {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
    font-family: 'Space Mono', monospace;
    width: 700;
    color: #202020;
}

.block__item-card {
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #1e1e1e;
    overflow: hidden;
    height: 33vh;
}

.block__card-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card__top-left {}

.card__top-title {
    color: #fff;
    font-family: 'Space Mono', monospace;
    width: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 22px;
}

.card__top-title::after {
    position: absolute;
    content: '';
    left: -5%;
    top: 55%;
    width: 110%;
    height: 3px;
    background-color: #000;
}

.card__top-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    transform: translateX(-10px) translateY(-10px);
}

.card__top-chip {
    width: 70px;
}

.card__top-symbol {
    width: 70px;
}

.card__top-right {
    padding: 20px 0 0 0;
}

.card__top-logo {
    width: 100px;
}

.block__card-down {
    padding: 0 20px 10px 20px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.card__down-number {
    color: #fff;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.card__down-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
}

.card__down-label {
    color: #fff;
    font-size: 16px;
    font-family: 'Work Sans';
    width: 600;
}

.card__down-date {
    color: #fff;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.card__down-name {
    color: #fff;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.block__creation-button {
    border: none;
    border-radius: 10px;
    padding: 14px 10px;
    background-color: #202020;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 10px 10px rgba(255, 72, 72, 0.537);
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.block__creation-button:hover {
    box-shadow: 0px 10px 10px rgba(232, 103, 103, 0.537);
    background-color: #fff;
    color: #202020;
}

.block__creation-button:active {
    background-color: #a8a8a8;
}

.header {
    max-width: 1300px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Space Mono', monospace;
    width: 700;
    position: relative;
    transition: 0.5s;
}

.header__nav-logo:hover {
    color: #d0d0d0;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.nav__list-item {
    font-family: 'Space Mono', monospace;
    width: 700;
    color: #1e1e1e;
    font-size: 18px;
}

.header__nav-link {
    font-family: 'Space Mono', monospace;
    width: 700;
    background-color: #fff;
    padding: 12px 10px;
    border-radius: 10px;
    color: #1e1e1e;
    transition: 0.5s;
}

.header__nav-link:hover {
    background-color: #1e1e1e;
    color: #fff;
}

.header__nav-link:active {
    background-color: #6d6d6d;
}