* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-image: linear-gradient(to left, #202020, gray);
}

.header {
    width: 100%;
}

.header__nav {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.header__nav-logo {
    font-size: 24px;
    color: #000000;
    font-family: 'Space Mono', monospace;
    width: 700;
    position: relative;
    transition: 0.5s;
}

.header__nav-logo:hover {
    color: #565656;
}

.header__button-menu {
    display: none;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.header__menu-block {
    display: none;
}

.nav__list-item {
    font-family: 'Space Mono', monospace;
    width: 700;
    color: #1e1e1e;
    font-size: 18px;
}

.header__nav-link {
    font-family: 'Space Mono', monospace;
    width: 700;
    background-color: #fff;
    padding: 12px 10px;
    border-radius: 10px;
    color: #1e1e1e;
    transition: 0.5s;
}

.header__nav-link:hover {
    background-color: #1e1e1e;
    color: #fff;
}

.header__nav-link:active {
    background-color: #6d6d6d;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.section__item:nth-child(1) {
    position: absolute;
    width: 60vw;
    height: 100vh;
    background-image: linear-gradient(to right, #202020, gray);
    right: 0;
}

.section__item:nth-child(2) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 39vw solid rgb(255, 72, 72);
    border-right: 10vw solid transparent;
    border-left: 15vw solid transparent;
    left: 25%;
}

.section__item:nth-child(3) {
    position: absolute;
    left: 0;
    width: 45vw;
    height: 0vh;
    border-top: 55vw solid rgb(242, 53, 53);
    border-left: 0vw solid transparent;
    border-right: 20vw solid transparent;
}

.form {
    position: absolute;
    left: 0;
    top: 0;
    top: 20%;
    left: 13%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 1300px;
    background-color: #363636;
    border-radius: 5px;
}

.form__registration {
    border-radius: 10px;
    padding: 10px;
}

.form__registration-txt {
    margin-bottom: 40px;
}

.registration__text-title {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

.registration__text-paragraph {
    font-family: 'Work Sans', sans-serif;
    margin-top: 5px;
    color: #fff;
}

.form__registration-block {
    display: flex;
    flex-direction: column;
}

.registration__block-label {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    color: #fff;
}

.block__label-modal {
    position: absolute;
    border-radius: 100%;
    padding: 10px;
    border: 2px solid #ff3636;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6e6e6a;
    color: #ff3636;
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    bottom: -45px;
    right: -40px;
    opacity: 0;
}

.block__label-explanation {
    position: absolute;
    bottom: -78px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #ff3636;
    opacity: 0;
}

.registration__block-input {
    background-color: #cacaca;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Space Mono', monospace;
    margin-bottom: 30px;
}

.registration__block-button {
    padding: 20px 15px;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background-color: #ff7272;
    width: 300px;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.registration__block-button:hover {
    background-color: #fff;
    color: #ff7272;
}

.registration__block-button:active {
    background-color: #c95656;
}

.form__registration__block {
    width: 90%;
    position: relative;
}

.form__registration-img:nth-child(1) {
    width: 600px;
    position: absolute;
    top: -5%;
    right: -15%;
}

.form__registration-img:nth-child(2) {
    width: 600px;
    position: absolute;
    bottom: -5%;
    left: -15%;
}

.form__registration-logo {
    position: absolute;
    font-family: 'Space Mono', monospace;
    font-size: 60px;
    color: #000000;
    top: 40%;
    left: 40%;
}

.userName.warning {
    border: 3px solid #ff0000;
}

.password.warning {
    border: 3px solid #ff0000;
}

.email.warning {
    border: 3px solid #ff0000;
}

.phoneNumber.warning {
    border: 3px solid #ff0000;
}

.userName.correct {
    border: 3px solid green;
}

.password.correct {
    border: 3px solid green;
}

.email.correct {
    border: 3px solid green;
}

.phoneNumber.correct {
    border: 3px solid green;
}

.modalOne.change {
    opacity: 1;
}

.modalTwo.change {
    opacity: 1;
}

.modalThree.change {
    opacity: 1;
}

.modalFour.change {
    opacity: 1;
}

.explanationOne.notes {
    opacity: 1;
}

.explanationTwo.notes {
    opacity: 1;
}

.explanationThree.notes {
    opacity: 1;
}

.explanationFour.notes {
    opacity: 1;
}

.footer {
    background-color: rgb(243, 102, 102);
}

.footer__body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px 70px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__body-logo {
    color: #fff;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
}

.footer__body-text {
    color: #fff;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
}

.footer__body-item {
    max-width: 300px;
}

.footer__body-block {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    gap: 60px;
}

.footer__item-title {
    color: #fff;
    font-size: 22px;
    font-family: 'Space Mono', monospace;
}

.footer__body-nav {
    display: flex;
    flex-direction: column;
}

.footer__nav-link {
    color: #fff;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
    transition: 0.5s;
}

.footer__nav-link:hover {
    color: #1e1e1e;
}

@media (max-width: 1300px) {}

@media (max-width: 1199px) {
    .header__nav {
        padding: 10px 20px;
    }

    .header__main-title {
        font-size: 48px;
    }
}

@media (max-width: 1118px) {
    .footer__body-block {
        margin-top: 50px;
    }
}

@media (max-width: 991px) {
    .header__nav {
        flex-direction: column;
    }

    .header__nav-list {
        margin-top: 20px;
    }

    .nav__list-item {
        font-size: 20px;
    }

    .header__nav-link {
        margin-top: 20px;
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .footer__body {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 767px) {
    .main__account-triangle {
        bottom: 15%;
        width: 300px;
    }

    .main__crypto-triangle {
        bottom: 15%;
        width: 300px;
    }
}

@media (max-width: 650px) {
    .header__button-menu {
        display: block;
        position: relative;
        cursor: pointer;
        transition: 0.5s;
    }

    .header__button-menu.active {
        transform: rotate(-40deg);
    }

    .header__button-menu:hover .header__menu-span {
        color: #fff;
    }

    .header__menu-span {
        position: absolute;
        color: #fa6d6d;
        left: 29%;
        top: 22%;
        font-size: 25px;
    }

    .header__nav-list {
        display: none;
    }

    .header__nav-link {
        display: none;
    }

    .header__block-link {
        font-family: 'Space Mono', monospace;
        width: 700;
        background-color: #fff;
        padding: 12px 10px;
        border-radius: 10px;
        color: #1e1e1e;
        transition: 0.5s;
        position: relative;
    }

    .header__block-link:hover {
        background-color: #1e1e1e;
        color: #fff;
    }

    .header__menu-block {
        position: absolute;
        display: block;
        padding: 50px 20px 50px 20px;
        background-color: #1e1e1e;
        border-radius: 10px;
        z-index: 3;
        top: -50%;
        right: 10%;
        transition: 0.5s;
    }

    .header__menu-block.change {
        top: 7%;
    }

    .nav__list-item {
        color: #fff;
        margin-bottom: 30px;
    }

    .nav__list-item:nth-child(4) {
        margin-bottom: 30px;
        color: #fff;
    }

    .header__nav {
        flex-direction: row;
    }
}

@media (max-width: 575px) {}

@media (max-width: 390px) {}

@media (max-width: 370px) {}

@media (max-width: 350px) {
    .header__nav-logo {
        font-size: 20px;
    }

    .header__menu-block {
        position: absolute;
        display: block;
        padding: 50px 20px 50px 20px;
        background-color: #1e1e1e;
        border-radius: 10px;
        z-index: 3;
        top: -50%;
        right: 5%;
        transition: 0.5s;
    }

    .header__menu-block.change {
        top: 7%;
        right: 5%;
    }

    .main__crypto-triangle {
        left: 0%;
        top: 40%;
        width: 250px;
    }

    .main__money-triangle {
        left: 0%;
        width: 280px;
        width: 250px;
    }

    .main__account-triangle {
        left: 0%;
        top: 40%;
        width: 250px;
    }
}