* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.header {
    width: 100%;
    height: 100vh;
}

.header__nav {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.header__nav-logo {
    font-size: 24px;
    color: #000000;
    font-family: 'Space Mono', monospace;
    width: 700;
    position: relative;
    transition: 0.5s;
}

.header__nav-logo:hover {
    color: #565656;
}

.header__button-menu {
    display: none;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.header__menu-block {
    display: none;
}

.nav__list-item {
    font-family: 'Space Mono', monospace;
    width: 700;
    color: #1e1e1e;
    font-size: 18px;
}

.header__nav-link {
    font-family: 'Space Mono', monospace;
    width: 700;
    background-color: #fff;
    padding: 12px 10px;
    border-radius: 10px;
    color: #1e1e1e;
    transition: 0.5s;
}

.header__nav-link:hover {
    background-color: #1e1e1e;
    color: #fff;
}

.header__nav-link:active {
    background-color: #6d6d6d;
}

.header__main {
    max-width: 100%;
    height: 100%;
    background-image: url(./Picture/numberless-card.png);
    background-size: cover;
    box-shadow: inset 0px -300px 500px #1e1e1e;
    position: relative;
}

.header__main-block {
    bottom: 100px;
    padding: 30px;
    max-width: 1000px;
    position: absolute;
}

.header__main-title {
    font-size: 60px;
    font-family: 'Space Mono', monospace;
    color: #fff;
}

.header__main-text {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
}

.header__main-button {
    padding: 15px 20px;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.5s;
}

.header__main-button:hover {
    background-color: #1e1e1e;
    color: #fff;
}

.main {}

.main__body {}

.main__account-bg {
    background-color: #1e1e1e;
    padding: 20px;
}


.main__body-account {
    max-width: 1300px;
    margin: 100px auto;
    padding: 10px 10px 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

.main__account-triangle {
    position: absolute;
    z-index: -1;
    left: 10%;
}

.main__account-info {
    padding: 20px;
    max-width: 500px;
    margin-right: 20px;
}

.main__account-title {
    color: #fff;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
}

.main__account-text {
    color: #fff;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    line-height: 35px;
}

.main__account-image {
    width: 45%;
    border-radius: 10px;
    position: relative;
}

.main__image-svg {
    position: absolute;
    right: 0%;
    z-index: -1;
    bottom: 2%;
}

.main__money-bg {
    background-color: rgb(243, 102, 102);
    padding: 20px;
}

.main__body-money {
    max-width: 1300px;
    margin: 100px auto;
    padding: 10px 150px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    z-index: 3;
}

.main__money-triangle {
    position: absolute;
    z-index: -1;
}

.main__money-info {
    max-width: 500px;
    margin-left: 20px;
    padding: 20px;
}

.main__money-title {
    color: #fff;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
}

.main__money-text {
    color: #fff;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    line-height: 35px;
}

.main__money-image {
    width: 45%;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.main__my-svg {
    position: absolute;
    z-index: -1;
    bottom: -5%;
    left: -2%;
}

.main__crypto-bg {
    background-color: #1e1e1e;
    padding: 20px;
}

.main__body-crypto {
    max-width: 1300px;
    margin: 100px auto;
    padding: 10px 10px 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

.main__crypto-triangle {
    position: absolute;
    z-index: -1;
    left: 10%;
}

.main__crypto-info {
    padding: 20px;
    max-width: 500px;
    margin-right: 20px;
}

.main__crypto-title {
    color: #fff;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
}

.main__crypto-text {
    color: #fff;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    line-height: 35px;
}

.main__crypto-image {
    width: 50%;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.main__cr-svg {
    position: absolute;
    z-index: -1;
    bottom: 5%;
    right: 0%;
}

.footer {
    background-color: rgb(243, 102, 102);
}

.footer__body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px 70px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__body-logo {
    color: #fff;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
}

.footer__body-text {
    color: #fff;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
}

.footer__body-item {
    max-width: 300px;
}

.footer__body-block {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    gap: 60px;
}

.footer__item-title {
    color: #fff;
    font-size: 22px;
    font-family: 'Space Mono', monospace;
}

.footer__body-nav {
    display: flex;
    flex-direction: column;
}

.footer__nav-link {
    color: #fff;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
    transition: 0.5s;
}

.footer__nav-link:hover {
    color: #1e1e1e;
}

@media (max-width: 1300px) {
    .main__body-account {
        padding: 10px 10px 10px 100px;
    }

    .main__body-money {
        padding: 10px 100px 10px 10px;
    }

    .main__body-crypto {
        padding: 10px 10px 10px 100px;
    }
}

@media (max-width: 1199px) {
    .header__nav {
        padding: 10px 20px;
    }

    .header__main-title {
        font-size: 48px;
    }
}

@media (max-width: 1118px) {
    .footer__body-block {
        margin-top: 50px;
    }
}

@media (max-width: 991px) {
    .header__nav {
        flex-direction: column;
    }

    .header__nav-list {
        margin-top: 20px;
    }

    .nav__list-item {
        font-size: 20px;
    }

    .header__nav-link {
        margin-top: 20px;
        font-size: 18px;
    }

    .header__main-block {
        bottom: 250px;
        max-width: 700px;
    }

    .header__main-title {
        font-size: 38px;
    }

    .main__body-account {
        padding: 20px;
    }

    .main__body-money {
        padding: 20px;
    }

    .main__body-crypto {
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .footer__body {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 767px) {
    .main__body-account {
        flex-direction: column-reverse;
        max-width: 600px;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .main__account-info {
        margin: 0;
    }

    .main__account-image {
        width: 460px;
    }

    .main__image-svg {
        display: none;
    }

    .main__account-triangle {
        bottom: 15%;
        width: 300px;
    }

    .main__body-money {
        flex-direction: column-reverse;
        max-width: 600px;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .main__money-info {
        margin: 0;
    }

    .main__money-image {
        width: 460px;
    }

    .main__my-svg {
        display: none;
    }

    .main__money-triangle {
        bottom: 10%;
    }

    .main__body-crypto {
        flex-direction: column-reverse;
        max-width: 600px;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .main__crypto-info {
        margin: 0;
    }

    .main__crypto-image {
        width: 460px;
    }

    .main__cr-svg {
        display: none;
    }

    .main__crypto-triangle {
        bottom: 15%;
        width: 300px;
    }
}

@media (max-width: 650px) {
    .header__button-menu {
        display: block;
        position: relative;
        cursor: pointer;
        transition: 0.5s;
    }

    .header__button-menu.active {
        transform: rotate(-40deg);
    }

    .header__button-menu:hover .header__menu-span {
        color: #fff;
    }

    .header__menu-span {
        position: absolute;
        color: #fa6d6d;
        left: 29%;
        top: 22%;
        font-size: 25px;
    }

    .header__nav-list {
        display: none;
    }

    .header__nav-link {
        display: none;
    }

    .header__block-link {
        font-family: 'Space Mono', monospace;
        width: 700;
        background-color: #fff;
        padding: 12px 10px;
        border-radius: 10px;
        color: #1e1e1e;
        transition: 0.5s;
        position: relative;
    }

    .header__block-link:hover {
        background-color: #1e1e1e;
        color: #fff;
    }

    .header__menu-block {
        position: absolute;
        display: block;
        padding: 50px 20px 50px 20px;
        background-color: #1e1e1e;
        border-radius: 10px;
        z-index: 3;
        top: -50%;
        right: 10%;
        transition: 0.5s;
    }

    .header__menu-block.change {
        top: 7%;
        right: 10%
    }

    .nav__list-item {
        color: #fff;
        margin-bottom: 30px;
    }

    .nav__list-item:nth-child(4) {
        margin-bottom: 30px;
        color: #fff;
    }

    .header__nav {
        flex-direction: row;
    }

    .header__main-block {
        bottom: 100px;
    }

    .header__main-title {
        font-size: 32px;
    }

    .header__main-text {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .header__main-title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .main__account-image {
        width: 350px;
    }

    .main__account-title {
        font-size: 28px;
    }

    .main__account-bg {
        padding: 10px;
    }

    .main__account-info {
        padding: 10px;
    }

    .main__money-image {
        width: 350px;
    }

    .main__money-title {
        font-size: 28px;
    }

    .main__money-bg {
        padding: 10px;
    }

    .main__money-info {
        padding: 10px;
    }

    .main__crypto-image {
        width: 350px;
    }

    .main__crypto-title {
        font-size: 28px;
    }

    .main__crypto-bg {
        padding: 10px;
    }

    .main__crypto-info {
        padding: 10px;
    }
}

@media (max-width: 390px) {
    .main__account-triangle {
        left: -2%;
    }

    .main__crypto-triangle {
        left: -2%;
    }
}

@media (max-width: 370px) {
    .main__account-image {
        width: 260px;
    }

    .main__money-image {
        width: 260px;
    }

    .main__crypto-image {
        width: 260px;
    }
}

@media (max-width: 350px) {
    .header__nav-logo {
        font-size: 20px;
    }

    .header__menu-block {
        position: absolute;
        display: block;
        padding: 50px 20px 50px 20px;
        background-color: #1e1e1e;
        border-radius: 10px;
        z-index: 3;
        top: -50%;
        right: 5%;
        transition: 0.5s;
    }

    .header__menu-block.change {
        top: 7%;
        right: 5%;
    }

    .main__account-text {
        font-size: 20px;
    }

    .main__account-triangle {
        left: 0%;
        top: 40%;
        width: 250px;
    }

    .main__account-info {
        padding: 0;
    }

    .main__account-title {
        margin-top: 10px;
        font-size: 24px;
    }

    .main__money-text {
        font-size: 20px;
    }

    .main__money-triangle {
        left: 0%;
        width: 280px;
        width: 250px;
    }

    .main__money-info {
        padding: 0;
    }

    .main__money-title {
        margin-top: 10px;
        font-size: 24px;
    }

    .main__crypto-text {
        font-size: 20px;
    }

    .main__crypto-triangle {
        left: 0%;
        top: 40%;
        width: 250px;
    }

    .main__crypto-info {
        padding: 0;
    }

    .main__crypto-title {
        margin-top: 10px;
        font-size: 24px;
    }
}