.form {
    background-color: #1e1e1e;
    max-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
}

.form__title {
    color: aliceblue;
}

.form__login {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form__login-label {
    color: aliceblue;
    font-size: 20px;
    position: relative;
}

.form__login-input {
    background-color: #3e3e3e;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.userName.warning {
    background-color: #ff0000;
}

.password.warning {
    background-color: #ff0000;
}

.email.warning {
    background-color: #ff0000;
}

.phoneNumber.warning {
    background-color: #ff0000;
}

.form__button {
    margin-top: 20px;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
}

.image {
    width: 400px;
}

.form__first {
    transform: translateX(-450px) translateY(-200px);
    transition: 1s;
}

.form__second {
    transform: translateY(-1250px) translateX(800px);
    transition: 1s;
}

.form__third {
    transform: scale(0.01);
    opacity: 0;
    transform: translateX(-150px);
    transition: 1s;
}

.form__fourth {
    transform: translateX(-1150px) translateY(-700px) scale(0.01);
    opacity: 0;
    transition: 1s;
}

.form__first.chnage-one {
    transform: translateX(250px) translateY(-200px);
}

.form__second.chnage-two {
    transform: translateY(-400px) translateX(800px);
}

.form__third.chnage-three {
    transform: scale(1);
    opacity: 1;
    transform: translateX(-100px) translateY(-100px);
    rotate: 360deg;
}

.form__fourth.chnage-four {
    transform: translateX(-1150px) translateY(-700px) scale(1);
    opacity: 1;
    rotate: 360deg;
}

.form-label__warning1,
.form-label__warning2,
.form-label__warning3,
.form-label__warning4 {
    color: #1e1e1e;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: -1;
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.form-label__warning1.chnage-modal-1 {
    right: -300px;
}

.form-label__warning2.chnage-modal-2 {
    right: -300px;
}

.form-label__warning3.chnage-modal-3 {
    right: -300px;
}

.form-label__warning4.chnage-modal-4 {
    right: -300px;
}

.form-button__congratulation {
    position: absolute;
    top: -10px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    z-index: -1;
    right: 50px;
    transition: 0.5s;
}

.form-button__congratulation.chnage-modal-5 {
    top: 100px;
    right: 50px;
}

/* ----- Credit Card ----- */

.block {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.block__item:nth-child(1) {
    position: absolute;
    width: 60vw;
    height: 100vh;
    background-image: linear-gradient(to right, #202020, gray);
}

.block__item:nth-child(2) {
    position: absolute;
    right: 0;
    width: 30vw;
    height: 0vh;
    border-top: 55vw solid rgb(242, 53, 53);
    border-left: 20vw solid transparent;
    border-right: 0vw solid transparent;
}

.block__item:nth-child(3) {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 37.4vw solid rgb(255, 72, 72);
    border-right: 15vw solid transparent;
    border-left: 10vw solid transparent;
    right: 30%;
}

.block__item:nth-child(4) {
    position: absolute;
    width: 60vw;
    padding: 10px;
    top: 25%;
    left: 10%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.block__item-creation {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
}

.block__creation-label {
    font-size: 20px;
    color: #fff;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.block__creation-input {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
    font-family: 'Space Mono', monospace;
    width: 700;
    color: #202020;
}

.block__item-card {
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #1e1e1e;
    overflow: hidden;
}

.block__card-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card__top-left {}

.card__top-title {
    color: #fff;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.card__top-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    transform: translateX(-10px) translateY(-10px);
}

.card__top-chip {
    width: 70px;
}

.card__top-symbol {
    width: 70px;
}

.card__top-right {
    padding: 20px 0 0 0;
}

.card__top-logo {
    width: 100px;
}

.block__card-down {
    padding: 0 20px 10px 20px;
}

.card__down-number {
    color: #fff;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.card__down-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
}

.card__down-label {
    color: #fff;
    font-size: 16px;
    font-family: 'Work Sans';
    width: 600;
}

.card__down-date {
    color: #fff;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.card__down-name {
    color: #fff;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.block__creation-button {
    border: none;
    border-radius: 10px;
    padding: 14px 10px;
    background-color: #202020;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 10px 10px rgba(255, 72, 72, 0.537);
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Space Mono', monospace;
    width: 700;
}

.block__creation-button:hover {
    box-shadow: 0px 10px 10px rgba(232, 103, 103, 0.537);
    background-color: #fff;
    color: #202020;
}

.block__creation-button:active {
    background-color: #a8a8a8;
}